h1{
    font-size: 120px;
    color: black;
}

h2{
    font-size: 70px;
    color:blue;
}

h3{
    font-size: 70px;
    color:blue;
}

h4{
    font-size: 70px;
    color:blue;
}

h5{
    font-size: 70px;
    color:blue;
}

.datos{
    font-size: 45px;
    color:brown;
}

.respuesta{
    font-size: 45px;
    color:brown;
    }

.presentacion{
    font-size: 35px;
    color: green;
    }

   